.characterExp {
    position: relative;
    width: 100vw;
    margin: 1em auto;
}

.characterImage {
    width: 100%;
    position: relative;
}

.characterInfo {
    position: relative;
    width: 100%;
    max-width: 100vw;
    color: #fff;
    font-size: 1rem;
    z-index: 2;
    padding: 1em;
    box-sizing: border-box;
}

.infoBox {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
}

.characterExp {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.characterImage {
    position: relative;
    width: 100%;
}

body.katsuragi .infoBox {
    background: linear-gradient(to right, #568267, transparent);
}
body.kirisaki .infoBox {
    background: linear-gradient(to right, #c53d43, transparent);
}
body.sirafuji .infoBox {
    background: linear-gradient(to right, #dbd0e6, transparent);
}

.chara-under {
    width: 100vw;
    max-width: 100%;
    height: auto;
    opacity: 0.25;
    transform: translateX(10%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.chara-over {
    width: 100vw;
    max-width: 100%;
    height: auto;
    opacity: 1;
    top: 0%;
    left: 0%;
    position: absolute;
    transform: translateX(5%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.characterInfo h1 {
    word-wrap: break-word;
    max-width: 100vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(0);
    }
}

@media screen and (max-width: 540px) {
    .characterInfo {
        font-size: 0.8rem;
        padding: 0.4
        em;
    }

    .characterInfo h1 {
        font-size: 1.2rem;
    }
}
