.characterExp {
    position: relative;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.characterImage {
    position: relative;
    max-width: 540px;
}

.characterInfo {
    /* -- 基本設定 -- */
    position: relative;
    max-width: 540px;
    width: 80vw;
    font-size: 1rem;
    color: #fff;
    /* -- 位置設定 -- */
    left: 10%;
    z-index: 2;
}

.infoBox {
    /* -- 基本設定 -- */
    position: relative;
    min-height: 240px;
    /* -- 位置設定 -- */
    z-index: 1;
}

body.katsuragi .infoBox {
    background: linear-gradient(to right, #568267, transparent);
}
body.kirisaki .infoBox {
    background: linear-gradient(to right, #c53d43, transparent);
}
body.sirafuji .infoBox {
    background: linear-gradient(to right, #dbd0e6, transparent);
}

.chara-under {
    position: relative;
    width: 100%;
    opacity: 0.25;
    transform: translateX(10%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.chara-over {
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0%;
    transform: translateX(5%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(0);
    }
}