body {
    max-width: 960px;
    margin: auto;
    padding: 1rem 0;
}

img, iframe, embed, object, video {
    max-width: 100%;
}

.column {
    display: flex;
}

header {
    margin: auto;
    max-width: 810px;
    height: 64px;
    background: #0000ff;
}

.headerNav a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

.headerNav ul {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerNav ul li {
    color: #fff;
    width: 100%;
    margin: 1rem;
}

@media (max-width: 360px) {
    .headerNav ul li {
        font-size: 0.8rem;
    }
    .enName {
        font-size: 0.4rem;
    }
}

.category {
    /* -- 基本設定 -- */
    /* -- 位置設定 -- */
    animation: reveal 0.4s ease-in-out forwards;
}

.category .Ge {
    height: 10rem;
    background: linear-gradient(to right, #202020 33%, transparent);
}
.category .FA {
    height: 10rem;
    background: linear-gradient(to right, #fff 33%, transparent);
}

.category img {
    padding-left: 5%;
    padding-top: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(0);
    }
}

@keyframes reveal {
    from { width: 0; }
    to { width: 100%; }
}


