body {
    max-width: 960px;
    margin: auto;
    padding: 1rem 0;
}

.column {
    display: flex;
}

header {
    margin: auto;
    height: 64px;
    max-width: 810px;
    background: #0000ff;
}

.headerNav a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

.headerNav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerNav ul li {
    color: #fff;
    width: 100%;
    padding-right: 1rem;
}

.category {
    animation: reveal 0.4s ease-in-out forwards;
}

.category img {
    padding-left: 5%;
    padding-top: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(0);
    }
}

@keyframes reveal {
    from { width: 0; }
    to { width: 100%; }
}
